<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FlickrURL"  value="http://api.flickr.com/services/rest/?method=flickr.photos.search"/>
    <add key="FlickrID"  value="5204d6c39509dc9e048b65c7e0c88a66"/>
  </appSettings>
  <connectionStrings>
    <add name="TravelConnectionString"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\travel.mdb;Persist Security Info=True"
         providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <pages>
      <controls>
        <add src="~/UserControls/TravelImageBoxUserControl.ascx"
                tagName="TravelImageBoxUC"
                tagPrefix="ucx" />
        <add src="~/UserControls/TravelPostGridUserControl.ascx"
                tagName="TravelPostGridUC"
                tagPrefix="ucx" />
        <add src="~/UserControls/TravelUserGridUserControl.ascx"
                tagName="TravelUserGridUC"
                tagPrefix="ucx" />
        <add src="~/UserControls/TravelImageGridUserControl.ascx"
                tagName="TravelImageGridUC"
                tagPrefix="ucx" />
       <add src="~/UserControls/FlickrRelatedImagesUserControl.ascx"
               tagName="FlickrImageUC"
               tagPrefix="ucx" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0"/>
   <customErrors defaultRedirect="~/Error.aspx" mode="On">
      <error statusCode="404" redirect="~/Error.aspx"/>
    </customErrors>
  </system.web>
</configuration>